<div id="task<%= task.id %>" class="task <%= "last" if value.tasks.last == task%>">
  <div class="checkbox" id="task-check<%= task.id %>">
    <% if task.status == false %>
      <%= render('tasks/check', task: task) %>
    <%else%>
      <%= render('tasks/uncheck', task: task) %>
    <%end%>
  </div>
  <div class="task-text" id="task-text<%=task.id%>">
    <% if task.status == true %>
      <%= render('tasks/name_done', task: task) %>
    <%else%>
      <%= render('tasks/name', task: task) %>
    <%end%>
  </div>
  <div class="task-edit" id="task-edit<%= task.id %>">
    <% if task.status == false %>
      <%= render('tasks/edit', task: task) %>
    <%else%>
      <%= render('tasks/edit_delete', task: task) %>
    <%end%>
  </div>
</div>
